/* index.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
input[type="file"] {
    display: block;
    margin-bottom: 10px;
}
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
/* Add this CSS to your index.css file */
.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

/* Style for the image itself (adjust as needed) */
.centered-image img {
    max-width: 150%;
    max-height: 150%;
}
